<a href="https://colab.research.google.com/github/MANOJ-SAI/AI-ML/blob/Pandas_dataframes_filtering/Learning/Week-2%20(Data%20Analysis%20for%20AI)/Pandas/Pandas_dataframes%2C_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Creating & loading data**

In [ ]:
!pip install faker

Collecting faker
  Downloading faker-40.4.0-py3-none-any.whl.metadata (16 kB)
Downloading faker-40.4.0-py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 22.2 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-40.4.0

In [ ]:
import pandas as pd
import csv
import random
from faker import Faker
import json

In [ ]:
class File_Writer:
  def __init__(self):
    self.fake = Faker()

  def generate_rows(self,num_rows):
    rows=[]
    for _ in range(num_rows):
      rows.append({
          "Name": self.fake.name(),
          "Age": random.randint(22,50),
          "Salary": random.choice(range(200000,2000000,100000)),
          "City": self.fake.city()
      })
    return rows

  def write_csv(self,file_name,num_rows):
    with open(file_name,'w',newline="") as csvfile:
      rows = self.generate_rows(num_rows)
      csvwriter = csv.DictWriter(csvfile,["Name","Age","Salary","City"])
      csvwriter.writeheader()
      csvwriter.writerows(rows)

  def write_json(self,file_name,num_rows):
    with open(file_name,'w') as jsonfile:
      rows = self.generate_rows(num_rows)
      json.dump(rows,jsonfile,indent=4)

file_writer = File_Writer()
file_writer.write_csv("data.csv",10)
file_writer.write_json("data.json",10)

In [ ]:
df = pd.read_csv("data.csv") # Reads a CSV (Comma-Separated Values) file into a pandas DataFrame.
df

                    Name  Age   Salary                  City
0         Kimberly Salas   33  1400000  East Christopherfurt
1             Amy Wright   44   800000           Patrickview
2         Patrick Juarez   28  1800000           South Jason
3          Zachary Foley   50  1500000        East Christina
4       Stephanie Bright   45   300000             Shaneberg
5  Miss Brittney Estrada   40   200000             East Juan
6          Nicholas Hill   48   200000              Carltown
7             Ryan Allen   32  1900000            Laurenberg
8          Sarah Alvarez   23   300000      East Marissabury
9          Richard Irwin   49  1400000          Randolphside

In [ ]:
df = pd.read_json("data.json") # Reads a JSON (JavaScript Object Notation) file or string into a pandas DataFrame.
df

                   Name  Age   Salary             City
0  Mr. Kenneth Harrison   30  1500000    North Michael
1           David Clark   49  1500000         New John
2        Kimberly Smith   39  1400000       Harrisfurt
3         Vanessa Clark   50  1300000     North Andrea
4       Katherine Smith   28  1300000        West Erik
5      Carlos Moore DDS   28   900000  Port Ashleyberg
6          Bonnie Sharp   27   900000      Haynesmouth
7           Brian Noble   45   300000      West Joseph
8         Kayla Farrell   40  1800000       North John
9       James Stevenson   37  1000000          Jaketon

In [ ]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Salary": [50000, 60000, 70000]
}

df = pd.DataFrame(data) # Creates a DataFrame directly from lists, dictionaries, arrays, or other structures.
df

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

## **Inspecting data**

In [ ]:
df = pd.read_csv("data.csv")
df.head() # Shows the first 5 rows of the DataFrame.

               Name  Age   Salary                  City
0    Kimberly Salas   33  1400000  East Christopherfurt
1        Amy Wright   44   800000           Patrickview
2    Patrick Juarez   28  1800000           South Jason
3     Zachary Foley   50  1500000        East Christina
4  Stephanie Bright   45   300000             Shaneberg

In [ ]:
df.head(2) # Shows the first 2 rows of the DataFrame.

             Name  Age   Salary                  City
0  Kimberly Salas   33  1400000  East Christopherfurt
1      Amy Wright   44   800000           Patrickview

In [ ]:
df.tail() # Shows the last 5 rows.

                    Name  Age   Salary              City
5  Miss Brittney Estrada   40   200000         East Juan
6          Nicholas Hill   48   200000          Carltown
7             Ryan Allen   32  1900000        Laurenberg
8          Sarah Alvarez   23   300000  East Marissabury
9          Richard Irwin   49  1400000      Randolphside

In [ ]:
df.tail(2) # Shows the last 2 rows of the DataFrame.

            Name  Age   Salary              City
8  Sarah Alvarez   23   300000  East Marissabury
9  Richard Irwin   49  1400000      Randolphside

In [ ]:
df.shape # Returns (number of rows, number of columns).

(10, 4)

In [ ]:
df.columns # Lists column names.(Feature names)

Index(['Name', 'Age', 'Salary', 'City'], dtype='object')

In [ ]:
df.dtypes # Shows data type of each column.

Name      object
Age        int64
Salary     int64
City      object
dtype: object

In [ ]:
df.info() # Gives a summary of the DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Salary  10 non-null     int64
 3   City    10 non-null     object
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes

## **Selecting Data (CORE CONCEPT)**

* **loc** slicing is INCLUSIVE
* **Python** slicing is EXCLUSIVE

### **Column selection**

In [ ]:
print(df['Age']) # This returns a Series (1D data)

0    33
1    44
2    28
3    50
4    45
5    40
6    48
7    32
8    23
9    49
Name: Age, dtype: int64

In [ ]:
y = df['Salary']
y # Used when selecting target (y) in ML

0    1400000
1     800000
2    1800000
3    1500000
4     300000
5     200000
6     200000
7    1900000
8     300000
9    1400000
Name: Salary, dtype: int64

In [ ]:
df[['Age', 'Salary']] # This returns a DataFrame (2D data).

   Age   Salary
0   33  1400000
1   44   800000
2   28  1800000
3   50  1500000
4   45   300000
5   40   200000
6   48   200000
7   32  1900000
8   23   300000
9   49  1400000

### **ROW SELECTION**

**iloc:**

* Uses Python slicing rules
* End index is EXCLUDED

**loc:**
* Uses label-based slicing
* End label is INCLUDED

In [ ]:
# Syntax:
# df.iloc[] → Index-based selection
# df.iloc[row_index, column_index]

In [ ]:
# Uses integer positions (0,1,2…)
df.iloc[0]

Name            Kimberly Salas
Age                         33
Salary                 1400000
City      East Christopherfurt
Name: 0, dtype: object

In [ ]:
df.iloc[1:3] # Selects rows at index 1 and 2.

             Name  Age   Salary         City
1      Amy Wright   44   800000  Patrickview
2  Patrick Juarez   28  1800000  South Jason

In [ ]:
df.iloc[0:2, 1:3] # Specific rows & columns
# 0:2 → ROWS (Select rows starting at 0 and STOP BEFORE 2)
# 1:3 → COLUMNS (Select columns starting at 1 and STOP BEFORE 3)
# Python slicing rule:
# Start is included, End is excluded

   Age   Salary
0   33  1400000
1   44   800000

In [ ]:
# df.loc[] → Label-based selection

In [ ]:
# df.loc[row_label, column_name]
df.loc[0]

Name            Kimberly Salas
Age                         33
Salary                 1400000
City      East Christopherfurt
Name: 0, dtype: object

In [ ]:
df.loc[0, 'Salary']
# Select specific row & column

np.int64(1400000)

In [ ]:
df.loc[0:2, ['Name', 'City']]
# End label is INCLUDED. so it return the 0,1,2. in iloc it return 0,1 because the end label is excluded

             Name                  City
0  Kimberly Salas  East Christopherfurt
1      Amy Wright           Patrickview
2  Patrick Juarez           South Jason

In [ ]:
# | Feature     | `iloc`         | `loc`          |
# | ----------- | -------------- | -------------- |
# | Uses        | Index numbers  | Labels / names |
# | Rows        | Position-based | Label-based    |
# | Columns     | Position-based | Column names   |

# Column selection = choose features
# Row selection = choose samples

# iloc = Python slice = end excluded
# loc = label slice = end included

## **Filtering Data**
- Filtering = keep rows that satisfy a condition

### **Conditional Filtering:**

In [ ]:
data = {
    "Name": ["Amit", "Sara", "John", "Neha", "Raj"],
    "Age": [22, 28, 35, 40, 30],
    "Salary": [40000, 55000, 70000, 80000, 50000],
    "City": ["Bangalore", "Hyderabad", "Delhi", "Bangalore", "Hyderabad"]
}

df = pd.DataFrame(data)

In [ ]:
df[df['Age'] > 30] #From df, keep rows where age is greater than 30

   Name  Age  Salary       City
2  John   35   70000      Delhi
3  Neha   40   80000  Bangalore

In [ ]:
df[df['Salary'] >= 50000]

   Name  Age  Salary       City
1  Sara   28   55000  Hyderabad
2  John   35   70000      Delhi
3  Neha   40   80000  Bangalore
4   Raj   30   50000  Hyderabad

### **Multiple Conditions:**

In [ ]:
df[(df['Age'] > 25) & (df['Salary'] > 60000)]

# age > 25 AND salary > 60000

   Name  Age  Salary       City
2  John   35   70000      Delhi
3  Neha   40   80000  Bangalore

In [ ]:
df[(df['City'] == 'Bangalore') | (df['City'] == 'Hyderabad')]

   Name  Age  Salary       City
0  Amit   22   40000  Bangalore
1  Sara   28   55000  Hyderabad
3  Neha   40   80000  Bangalore
4   Raj   30   50000  Hyderabad

In [ ]:
df['Salary'] > 60000

0    False
1    False
2     True
3     True
4    False
Name: Salary, dtype: bool

### **isin() (VERY CLEAN & READABLE)**

In [ ]:
df[(df['City'] == 'Bangalore') | (df['City'] == 'Hyderabad')]
# It is not readable instead of using multiple conditions we use the isin()

   Name  Age  Salary       City
0  Amit   22   40000  Bangalore
1  Sara   28   55000  Hyderabad
3  Neha   40   80000  Bangalore
4   Raj   30   50000  Hyderabad

In [ ]:
# Instead of long OR conditions
df[df['City'].isin(['Bangalore', 'Hyderabad'])]

   Name  Age  Salary       City
0  Amit   22   40000  Bangalore
1  Sara   28   55000  Hyderabad
3  Neha   40   80000  Bangalore
4   Raj   30   50000  Hyderabad

### **between() (Range filtering)**

In [ ]:
df[df['Age'].between(25, 40)] # between() is inclusive (25 and 40 included).
# Filtering =
# condition → True/False → keep True rows

   Name  Age  Salary       City
1  Sara   28   55000  Hyderabad
2  John   35   70000      Delhi
3  Neha   40   80000  Bangalore
4   Raj   30   50000  Hyderabad

## **Handling Missing Data (DATA CLEANING):**

In [ ]:
import numpy as np

In [ ]:
data = {
    "name": ["Amit", "Sara", "John", "Neha"],
    "age": [25, np.nan, 35, 40],
    "salary": [50000, 60000, np.nan, 80000],
    "city": ["Bangalore", None, "Delhi", "Bangalore"]
}

In [ ]:
df = pd.DataFrame(data)
df

   name   age   salary       city
0  Amit  25.0  50000.0  Bangalore
1  Sara   NaN  60000.0       None
2  John  35.0      NaN      Delhi
3  Neha  40.0  80000.0  Bangalore

In [ ]:
df.isnull() # Returns True where value is missing, False otherwise.

    name    age  salary   city
0  False  False   False  False
1  False   True   False   True
2  False  False    True  False
3  False  False   False  False

In [ ]:
df.isnull().sum() # Counts missing values per column.

name      0
age       1
salary    1
city      1
dtype: int64

In [ ]:
df.notnull() # Opposite of isnull()

# True → value exists
# False → missing

   name    age  salary   city
0  True   True    True   True
1  True  False    True  False
2  True   True   False   True
3  True   True    True   True

In [ ]:
df.dropna() # Removes rows with missing values.

   name   age   salary       city
0  Amit  25.0  50000.0  Bangalore
3  Neha  40.0  80000.0  Bangalore

In [ ]:
df.fillna(0) # Replaces missing values with 0.

   name   age   salary       city
0  Amit  25.0  50000.0  Bangalore
1  Sara   0.0  60000.0          0
2  John  35.0      0.0      Delhi
3  Neha  40.0  80000.0  Bangalore

In [ ]:
df.fillna(df.mean(numeric_only=True))
 # Fills missing numeric columns with their mean (average).
 # Detect → Count → Decide → Clean
 # Handling missing data is mandatory — not optional — in Data Science.

   name        age        salary       city
0  Amit  25.000000  50000.000000  Bangalore
1  Sara  33.333333  60000.000000       None
2  John  35.000000  63333.333333      Delhi
3  Neha  40.000000  80000.000000  Bangalore

## **Sorting & Ordering (Data Analysis Basics):**

In [ ]:
import pandas as pd

data = {
    "name": ["Amit", "Sara", "John", "Neha", "Raj"],
    "age": [22, 28, 35, 40, 30],
    "salary": [40000, 55000, 70000, 80000, 50000],
    "city": ["Bangalore", "Hyderabad", "Delhi", "Bangalore", "Hyderabad"]
}

df = pd.DataFrame(data)

In [ ]:
df.sort_values(by='salary') # Sorts rows by salary (ascending by default)

   name  age  salary       city
0  Amit   22   40000  Bangalore
4   Raj   30   50000  Hyderabad
1  Sara   28   55000  Hyderabad
2  John   35   70000      Delhi
3  Neha   40   80000  Bangalore

In [ ]:
df.sort_values(by='salary', ascending=False) # Sorts rows by salary (descending)

   name  age  salary       city
3  Neha   40   80000  Bangalore
2  John   35   70000      Delhi
1  Sara   28   55000  Hyderabad
4   Raj   30   50000  Hyderabad
0  Amit   22   40000  Bangalore

In [ ]:
df.sort_values(by=['city', 'salary'], ascending=[True, False])

# sort by city (A–Z)
# within each city, salary (high → low)

   name  age  salary       city
3  Neha   40   80000  Bangalore
0  Amit   22   40000  Bangalore
2  John   35   70000      Delhi
1  Sara   28   55000  Hyderabad
4   Raj   30   50000  Hyderabad

In [ ]:
df.sort_index() # Sorts rows by index, not by data.

# index got shuffled after filtering
# want clean order again

   name  age  salary       city
0  Amit   22   40000  Bangalore
1  Sara   28   55000  Hyderabad
2  John   35   70000      Delhi
3  Neha   40   80000  Bangalore
4   Raj   30   50000  Hyderabad

In [ ]:
# Sorting helps you rank, compare, and understand data patterns.

## **Data Transformation (Apply Functions):**

* Data transformation = changing your data into the form you need.

In [ ]:
import pandas as pd

data = {
    "name": ["Amit", "Sara", "John", "Neha"],
    "age": [22, 28, 35, 40],
    "salary": [40000, 55000, 70000, 80000],
    "city": ["Bangalore", "Hyderabad", "Delhi", "Bangalore"]
}

df = pd.DataFrame(data)
df

   name  age  salary       city
0  Amit   22   40000  Bangalore
1  Sara   28   55000  Hyderabad
2  John   35   70000      Delhi
3  Neha   40   80000  Bangalore

In [ ]:
# Applies a function to each value in a Series or along rows/columns in a DataFrame
df['salary_lakh'] = df['salary'].apply(lambda x: x / 100000) # Function is applied to each element in that column.
df

   name  age  salary       city  salary_lakh
0  Amit   22   40000  Bangalore         0.40
1  Sara   28   55000  Hyderabad         0.55
2  John   35   70000      Delhi         0.70
3  Neha   40   80000  Bangalore         0.80

In [ ]:
df['age_group'] = df['age'].apply(lambda x: 'Young' if x < 30 else 'Adult')
df

   name  age  salary       city  salary_lakh age_group
0  Amit   22   40000  Bangalore         0.40     Young
1  Sara   28   55000  Hyderabad         0.55     Young
2  John   35   70000      Delhi         0.70     Adult
3  Neha   40   80000  Bangalore         0.80     Adult

In [ ]:
df.apply(lambda row: row['age'] + row['salary'], axis=1) # function is applied row by row

0    40022
1    55028
2    70035
3    80040
dtype: int64

In [ ]:
# Applies a function to every single value in a DataFrame.
df_numeric = df[['age', 'salary']]
df_numeric.applymap(lambda x: x * 1.1) #Recent versions of pandas deprecated applymap() to simplify the API.

/tmp/ipython-input-1370965021.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_numeric.applymap(lambda x: x * 1.1) #Recent versions of pandas deprecated applymap() to simplify the API.

    age   salary
0  24.2  44000.0
1  30.8  60500.0
2  38.5  77000.0
3  44.0  88000.0

In [ ]:
df_numeric = df_numeric.map(lambda x: x * 1.1) # Applies a function to a single Series (column)
df_numeric

# This does the same thing: multiplies every cell by 1.1
# Works on numeric and string columns depending on your function

    age   salary
0  24.2  44000.0
1  30.8  60500.0
2  38.5  77000.0
3  44.0  88000.0

In [ ]:
df['name'].map(lambda x: x.upper())

0    AMIT
1    SARA
2    JOHN
3    NEHA
Name: name, dtype: object

In [ ]:
# apply() → column or row → transform
# applymap() → every cell in DataFrame → transform
# map() → single column → transform

# Apply = flexible column/row
# Map = element-wise (Series or whole DF)
# Applymap = old element-wise DF

## **Aggregation & Statistics (Data Science CORE):**

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'department': ['IT', 'HR', 'IT', 'HR', 'Finance'],
    'city': ['NY', 'LA', 'NY', 'LA', 'NY'],
    'salary': [70000, 50000, 80000, 55000, 90000],
    'experience': [3, 2, 5, 4, 6]
}

df = pd.DataFrame(data)
print(df)

      name department city  salary  experience
0    Alice         IT   NY   70000           3
1      Bob         HR   LA   50000           2
2  Charlie         IT   NY   80000           5
3    David         HR   LA   55000           4
4      Eva    Finance   NY   90000           6

In [ ]:
df.mean(numeric_only=True) # Average of numerical columns

# uses mean when data is Symmetrical( A distribution where values are evenly spread around the center and mean ≈ median.)
# No extreme values (outliers = values far away from the rest of the data)

salary        69000.0
experience        4.0
dtype: float64

In [ ]:
df.median(numeric_only=True) # Middle value (robust to outliers)
# Use median to fill missing values safely.
# If data has outliers or skew → mean lies
# Median tells the truth

# Why not use mean with outliers?
# Because mean is sensitive to extreme values and can misrepresent the typical value.
# Median is robust and provides a better central tendency when data is skewed or contains outliers or missing values.

salary        70000.0
experience        4.0
dtype: float64

In [ ]:
df['salary'].sum() # Total

np.int64(345000)

In [ ]:
print(df.min(numeric_only=True))
print(df.max(numeric_only=True))
# Lowest & highest values

salary        50000
experience        2
dtype: int64
salary        90000
experience        6
dtype: int64

In [ ]:
df.count() # Number of non-null values

name          5
department    5
city          5
salary        5
experience    5
dtype: int64

In [ ]:
df.describe() # All stats in one shot

             salary  experience
count      5.000000    5.000000
mean   69000.000000    4.000000
std    16733.200531    1.581139
min    50000.000000    2.000000
25%    55000.000000    3.000000
50%    70000.000000    4.000000
75%    80000.000000    5.000000
max    90000.000000    6.000000

In [ ]:
df.groupby('department').mean(numeric_only=True) # group by department

             salary  experience
department
Finance     90000.0         6.0
HR          52500.0         3.0
IT          75000.0         4.0

In [ ]:
df.groupby('city')['salary'].sum() # Which city pays more total salary?

city
LA    105000
NY    240000
Name: salary, dtype: int64

In [ ]:
# What is the average salary & experience per department?
df.groupby('department').agg({'salary': 'mean', 'experience': 'mean'})

             salary  experience
department
Finance     90000.0         6.0
HR          52500.0         3.0
IT          75000.0         4.0

In [ ]:
# Instead of writing multiple lines mean(),min(),max(),count() and etc. we use multiple columns + multiple aggregations
# Group data → apply multiple statistics → get insights
df.groupby('department')['salary'].agg(['mean', 'min', 'max', 'count']) # One column, many aggregations

               mean    min    max  count
department
Finance     90000.0  90000  90000      1
HR          52500.0  50000  55000      2
IT          75000.0  70000  80000      2

In [ ]:
import pandas as pd

data = {
    'employee': ['A', 'B', 'C', 'D', 'E', 'F'],
    'department': ['IT', 'IT', 'HR', 'HR', 'Finance', 'Finance'],
    'city': ['NY', 'LA', 'NY', 'LA', 'NY', 'LA'],
    'salary': [70000, 80000, 50000, 55000, 90000, 85000],
    'experience': [3, 5, 2, 4, 6, 5]
}

df = pd.DataFrame(data)

In [ ]:
df.groupby('department').agg({
    'salary': ['mean', 'min', 'max'],
    'experience': ['mean', 'max']
}) # Multiple columns + multiple aggregations

             salary               experience
               mean    min    max       mean max
department
Finance     87500.0  85000  90000        5.5   6
HR          52500.0  50000  55000        3.0   4
IT          75000.0  70000  80000        4.0   5

In [ ]:
df.groupby('department').agg(
    avg_salary=('salary', 'mean'),
    max_salary=('salary', 'max'),
    avg_exp=('experience', 'mean'),
    emp_count=('employee', 'count')
)
# Messy column names are bad for ML pipelines. so we rename the column like this, This is production-level Pandas.

            avg_salary  max_salary  avg_exp  emp_count
department
Finance        87500.0       90000      5.5          2
HR             52500.0       55000      3.0          2
IT             75000.0       80000      4.0          2

In [ ]:
df.groupby(['department', 'city']).agg(
    avg_salary=('salary', 'mean'),
    total_salary=('salary', 'sum')
) # Average salary by department AND city

                 avg_salary  total_salary
department city
Finance    LA       85000.0         85000
           NY       90000.0         90000
HR         LA       55000.0         55000
           NY       50000.0         50000
IT         LA       80000.0         80000
           NY       70000.0         70000

In [ ]:
df

  employee department city  salary  experience
0        A         IT   NY   70000           3
1        B         IT   LA   80000           5
2        C         HR   NY   50000           2
3        D         HR   LA   55000           4
4        E    Finance   NY   90000           6
5        F    Finance   LA   85000           5

In [ ]:
dept_features = df.groupby('department').agg(
    dept_avg_salary=('salary', 'mean'),
    dept_max_exp=('experience', 'max')
)

df = df.merge(dept_features, on='department')
df

  employee department city  salary  experience  dept_avg_salary  dept_max_exp
0        A         IT   NY   70000           3          75000.0             5
1        B         IT   LA   80000           5          75000.0             5
2        C         HR   NY   50000           2          52500.0             4
3        D         HR   LA   55000           4          52500.0             4
4        E    Finance   NY   90000           6          87500.0             6
5        F    Finance   LA   85000           5          87500.0             6

In [ ]:
# | Function | Use When            |
# | -------- | ------------------- |
# | mean     | Normal distribution |
# | median   | Outliers exist      |
# | sum      | Totals matter       |
# | min/max  | Range & anomalies   |
# | count    | Missing values      |
# | describe | First look          |
# | groupby  | Compare categories  |

# EDA: EDA is the process of analyzing and summarizing data to understand its structure, detect patterns, identify outliers, and guide feature selection before building machine learning models.
# EDA (Exploratory Data Analysis)= getting to know your data before doing anything serious
# EDA means:
  # Checking what columns exist
  # Understanding typical values
  # Finding weird values
  # Spotting patterns
  # Detecting missing data & outliers

# EDA in Real Life:
  # df.head()
  # df.shape
  # df.info()
  # df.describe()
  # df.groupby('department')['salary'].mean()

  # Visual check:
    # df['salary'].hist()
    # df.boxplot(column='salary')
#


# Insights = useful conclusions you learn from data (what the data is telling you)

In [ ]:
df.groupby('city').agg(
    avg_salary = ('salary','mean'),
    total_salary = ('salary','sum'),
    max_experience = ('experience','max')
)

        avg_salary  total_salary  max_experience
city
LA    73333.333333        220000               5
NY    70000.000000        210000               6

In [ ]:
df.groupby(['department','city']).agg(
    avg_salary = ('salary','mean'),
    emp_count = ('employee','count')
)

                 avg_salary  emp_count
department city
Finance    LA       85000.0          1
           NY       90000.0          1
HR         LA       55000.0          1
           NY       50000.0          1
IT         LA       80000.0          1
           NY       70000.0          1

## **Renaming & Modifying Columns:**

In [ ]:
import pandas as pd

data = {
    'Employee Name': ['A', 'B', 'C', 'D', 'E', 'F'],
    'department': ['IT', 'IT', 'HR', 'HR', 'Finance', 'Finance'],
    'city': ['NY', 'LA', 'NY', 'LA', 'NY', 'LA'],
    'Annual Salary ($)': [70000, 80000, 50000, 55000, 90000, 85000],
    'Years of Experience': [3, 5, 2, 4, 6, 5]
}

df = pd.DataFrame(data)

In [ ]:
df.rename(columns={'salary': 'annual_salary'}) # Rename only one column

  Employee Name department city  Annual Salary ($)  Years of Experience
0             A         IT   NY              70000                    3
1             B         IT   LA              80000                    5
2             C         HR   NY              50000                    2
3             D         HR   LA              55000                    4
4             E    Finance   NY              90000                    6
5             F    Finance   LA              85000                    5

In [ ]:
df.rename(columns={'salary': 'annual_salary'}, inplace=True) # Rename permanently

In [ ]:
df = df.rename(columns={
    'Employee Name': 'employee',
    'Annual Salary ($)': 'salary',
    'Years of Experience': 'experience'
})
df

  employee department city  salary  experience
0        A         IT   NY   70000           3
1        B         IT   LA   80000           5
2        C         HR   NY   50000           2
3        D         HR   LA   55000           4
4        E    Finance   NY   90000           6
5        F    Finance   LA   85000           5

In [ ]:
df['salary']

0    70000
1    80000
2    50000
3    55000
4    90000
5    85000
Name: salary, dtype: int64

In [ ]:
df

  employee department city  salary  experience
0        A         IT   NY   70000           3
1        B         IT   LA   80000           5
2        C         HR   NY   50000           2
3        D         HR   LA   55000           4
4        E    Finance   NY   90000           6
5        F    Finance   LA   85000           5

In [ ]:
df.drop(columns=['employee']) # drop the column

  department city  salary  experience
0         IT   NY   70000           3
1         IT   LA   80000           5
2         HR   NY   50000           2
3         HR   LA   55000           4
4    Finance   NY   90000           6
5    Finance   LA   85000           5

In [ ]:
df['experience'] = df['experience'].astype(int) # Converts column type to int.
df[['salary', 'experience']] = df[['salary', 'experience']].astype(int) # convert multiple columns type to int

df['salary'] = df['salary'].fillna(0).astype(int) # safe way to convert the column type because the column may have NaN, strings, decimals.

In [ ]:
# Columns with Too Many Missing Values
# | Missing % | Action  |
# | --------- | ------- |
# | < 5%      | Fill    |
# | 5–30%     | Careful |
# | > 40%     | Drop    |

# Is it just an ID? → Drop
# Is it free text with no plan to encode? → Drop
# Is it mostly missing? → Drop
# Does it reveal the target? → Drop
# Would I know this at prediction time? → Drop

## **Index Handling:**

In [ ]:
df= df.set_index('employee') # Moves a column into the index.
df

# Why is index handling important?: Indexing enables efficient joins, time-based operations, and proper data alignment.
# Resetting the index ensures compatibility with machine learning models and data export.

# Used:
# Column uniquely identifies rows
# we'll do joins
# Time-series data (date index)

         department city  salary  experience
employee
A                IT   NY   70000           3
B                IT   LA   80000           5
C                HR   NY   50000           2
D                HR   LA   55000           4
E           Finance   NY   90000           6
F           Finance   LA   85000           5

In [ ]:
df = df.reset_index() # Turns the index back into a column and resets index to 0,1,2,..
df
# Used:
# we want to export data
# we finished groupby
# we want clean row numbers

  employee department city  salary  experience
0        A         IT   NY   70000           3
1        B         IT   LA   80000           5
2        C         HR   NY   50000           2
3        D         HR   LA   55000           4
4        E    Finance   NY   90000           6
5        F    Finance   LA   85000           5

## **Exporting Data:**

In [ ]:
df.to_csv('data.csv', index=False) # index=False avoids saving index as a column.

In [ ]:
df

  employee department city  salary  experience
0        A         IT   NY   70000           3
1        B         IT   LA   80000           5
2        C         HR   NY   50000           2
3        D         HR   LA   55000           4
4        E    Finance   NY   90000           6
5        F    Finance   LA   85000           5

In [ ]:
df.to_json('data.json', orient='records')

In [ ]:
df.to_excel('data.xlsx', index=False) # index=False avoids saving index as a column.