<a href="https://colab.research.google.com/github/MANOJ-SAI/AI-ML/blob/Pandas/Learning/Week-2%20(Data%20Analysis%20for%20AI)/Pandas/Pandas_merging_grouping_advanced%20cleaning/Pandas_merging%2C_grouping%2C_advanced_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **MERGING DATA**

In [1]:
import pandas as pd

users = pd.DataFrame({
    "user_id": [1, 2, 3,5],
    "age": [25, 30, 22,23],
    "country": ["US", "UK", "IN","EU"]
})

In [2]:
purchases = pd.DataFrame({
    "user_id": [1, 2, 1, 3,4],
    "amount": [100, 200, 150, 50,110]
})

In [3]:
merged = pd.merge(users, purchases, on="user_id") # INNER JOIN (default) (A intersection B : common values in both sets)
print(merged)

   user_id  age country  amount
0        1   25      US     100
1        1   25      US     150
2        2   30      UK     200
3        3   22      IN      50

In [4]:
pd.merge(users, purchases, on="user_id", how="left") # LEFT JOIN (A set values)

   user_id  age country  amount
0        1   25      US   100.0
1        1   25      US   150.0
2        2   30      UK   200.0
3        3   22      IN    50.0
4        5   23      EU     NaN

In [5]:
pd.merge(users, purchases, on="user_id", how="right") # Right (B set values)

   user_id   age country  amount
0        1  25.0      US     100
1        2  30.0      UK     200
2        1  25.0      US     150
3        3  22.0      IN      50
4        4   NaN     NaN     110

In [6]:
pd.merge(users,purchases,on="user_id",how="outer") # OUTER JOIN (A union B)

   user_id   age country  amount
0        1  25.0      US   100.0
1        1  25.0      US   150.0
2        2  30.0      UK   200.0
3        3  22.0      IN    50.0
4        4   NaN     NaN   110.0
5        5  23.0      EU     NaN

In [7]:
X = pd.DataFrame({
    "age": [25, 30, 22]
}, index=[1, 2, 3])  # user_id as index

country = pd.DataFrame({
    "country": ["US", "UK", "IN"]
}, index=[1, 2, 3])
X

   age
1   25
2   30
3   22

In [8]:
X = X.join(country) # index-based joining
print(X)

   age country
1   25      US
2   30      UK
3   22      IN

In [9]:
jan = pd.DataFrame({
    "user_id": [1, 2],
    "amount": [100, 200]
})

feb = pd.DataFrame({
    "user_id": [3, 4],
    "amount": [150, 300]
})

In [10]:
data = pd.concat([jan, feb], axis=0) # stacking data (Appending rows)
data

   user_id  amount
0        1     100
1        2     200
0        3     150
1        4     300

In [11]:
data = data.reset_index(drop=True) # reseting the index
data

   user_id  amount
0        1     100
1        2     200
2        3     150
3        4     300

In [12]:
print(users)
print(country)

   user_id  age country
0        1   25      US
1        2   30      UK
2        3   22      IN
3        5   23      EU
  country
1      US
2      UK
3      IN

In [13]:
pd.concat([users, country], axis=1) # Concatenate columns

   user_id  age country country
0        1   25      US     NaN
1        2   30      UK      US
2        3   22      IN      UK
3        5   23      EU      IN

In [14]:
transactions = pd.DataFrame({
    "customer_id": [1, 2, 1, 4],
    "amount": [100, 200, 150, 300]
})

In [15]:
merged = pd.merge(
    users,
    transactions,
    left_on="user_id", # users table column name
    right_on="customer_id", # transactions table column name
    how="left"
)
print(merged)

   user_id  age country  customer_id  amount
0        1   25      US          1.0   100.0
1        1   25      US          1.0   150.0
2        2   30      UK          2.0   200.0
3        3   22      IN          NaN     NaN
4        5   23      EU          NaN     NaN

In [16]:
activity = pd.DataFrame({
    "uid": [1, 2, 2, 3],
    "sessions": [10, 5, 8, 2]
})

In [17]:
df = pd.merge(
    merged,
    activity,
    left_on="user_id",
    right_on="uid",
    how="left"
)
df

   user_id  age country  customer_id  amount  uid  sessions
0        1   25      US          1.0   100.0  1.0      10.0
1        1   25      US          1.0   150.0  1.0      10.0
2        2   30      UK          2.0   200.0  2.0       5.0
3        2   30      UK          2.0   200.0  2.0       8.0
4        3   22      IN          NaN     NaN  3.0       2.0
5        5   23      EU          NaN     NaN  NaN       NaN

In [18]:
df = df.drop(columns=["customer_id", "uid"]) # Clean-up
df

   user_id  age country  amount  sessions
0        1   25      US   100.0      10.0
1        1   25      US   150.0      10.0
2        2   30      UK   200.0       5.0
3        2   30      UK   200.0       8.0
4        3   22      IN     NaN       2.0
5        5   23      EU     NaN       NaN

In [19]:
# Alternative: Cleaner pipeline instead of dropping
transactions = transactions.rename(columns={"customer_id": "user_id"})
activity = activity.rename(columns={"uid": "user_id"})
print("transactions:\n", transactions)
print("activity:\n", activity)
df = (
    users
    .merge(transactions, on="user_id", how="left")
    .merge(activity, on="user_id", how="left")
)
df

transactions:
    user_id  amount
0        1     100
1        2     200
2        1     150
3        4     300
activity:
    user_id  sessions
0        1        10
1        2         5
2        2         8
3        3         2

   user_id  age country  amount  sessions
0        1   25      US   100.0      10.0
1        1   25      US   150.0      10.0
2        2   30      UK   200.0       5.0
3        2   30      UK   200.0       8.0
4        3   22      IN     NaN       2.0
5        5   23      EU     NaN       NaN

In [20]:
# | Situation  | pandas approach            |
# | ---------- | -------------------------- |
# | 1-to-1     | `merge()`                  | Each row in Table A matches exactly one row in Table B.
# | 1-to-many  | `groupby  agg  merge`    | One row in Table A matches many rows in Table B.
# | Time exact | `merge(on=[id, time])`     | Data depends on both entity AND time.
# | Time fuzzy | `merge_asof()`             |
# | ML labels  | `aggregate  merge labels` | Labels are outcomes, not inputs.

# Check cardinality before merging (cardinality means how many times a value can appear in a column)
# customers["id"].is_unique
# orders["customer_id"].is_unique

# Validate merge (super useful!)
# customers.merge(
#     profiles,
#     on="id",
#     validate="one_to_one"
# ) # "one_to_many","many_to_one"

## **GROUPING DATA (groupby):**
groupby lets you convert raw data into meaningful features by aggregating patterns across groups.

**Split  Apply  Combine**

- Split data into groups based on a key

- Apply a function to each group

- Combine the results back

In [21]:
import pandas as pd

df = pd.DataFrame({
    "name": ["A", "B", "C", "D", "E", "F"],
    "department": ["IT", "IT", "HR", "HR", "Sales", "Sales"],
    "city": ["NY", "LA", "NY", "LA", "NY", "LA"],
    "team": ["A", "A", "B", "B", "C", "C"],
    "salary": [60000, 55000, 50000, 52000, 70000, 72000],
    "age": [25, 28, 35, 32, 40, 38]
})

In [22]:
# 1. Basic Grouping
#  groupby returns a GroupBy object, not a DataFrame.
df.groupby("department")

In [23]:
# 2. Aggregations
df.groupby("department")[["salary","age"]].mean()
# if I don't use salary then it try to calulcate mean non numeric columns also it leads to error

             salary   age
department
HR          51000.0  33.5
IT          57500.0  26.5
Sales       71000.0  39.0

In [24]:
df.groupby("city")["salary"].sum()
# grouby sum

city
LA    179000
NY    180000
Name: salary, dtype: int64

In [25]:
df.groupby("team").count()
# groupby count: count rows per group
# Counts non-null values per column.
# If there are NaNs  count()  number of rows.

      name  department  city  salary  age
team
A        2           2     2       2    2
B        2           2     2       2    2
C        2           2     2       2    2

In [26]:
df.groupby("team").size()
# Counts rows in each group, no matter whats inside (counts Nan's also)
# Better for row count

team
A    2
B    2
C    2
dtype: int64

In [27]:
# 3. Multiple Aggregations;
df.groupby("department").agg({
    "salary": ["mean", "max"],
    "age": "mean"
})

             salary          age
               mean    max  mean
department
HR          51000.0  52000  33.5
IT          57500.0  60000  26.5
Sales       71000.0  72000  39.0

In [28]:
df.groupby("department").agg(
    avg_salary=("salary", "mean"),
    max_salary=("salary", "max"),
    avg_age=("age", "mean")
)
# adding column names

            avg_salary  max_salary  avg_age
department
HR             51000.0       52000     33.5
IT             57500.0       60000     26.5
Sales          71000.0       72000     39.0

In [29]:
# 4. Groupby + Filtering
df.groupby("department").filter(
    lambda x: x["salary"].mean() > 50000
)

  name department city team  salary  age
0    A         IT   NY    A   60000   25
1    B         IT   LA    A   55000   28
2    C         HR   NY    B   50000   35
3    D         HR   LA    B   52000   32
4    E      Sales   NY    C   70000   40
5    F      Sales   LA    C   72000   38

In [30]:
# 1. groupby().mean() vs agg()
  # mean()  quick
  # agg()  flexible & scalable

# 2. count() vs size()
  # count()  ignores NaNs
  # size()  counts rows

# 3. Filtering rows vs groups
  # Row filtering  df[df.col > x]
  # Group filtering  groupby().filter()

In [31]:
# Feature engineering is the process of turning raw data into useful inputs (features) for a machine-learning model.
# Better features matter more than better models.
# Feature Engineering example:
user_features = (
    df.groupby("department")
      .agg(
          avg_salary=("salary", "mean"),
          salary_std=("salary", "std"),
          headcount=("name", "count")
      )
)
user_features

            avg_salary   salary_std  headcount
department
HR             51000.0  1414.213562          2
IT             57500.0  3535.533906          2
Sales          71000.0  1414.213562          2

In [32]:
# KPI (Key Performance Indicator):A KPI is a metric that measures how well a business or system is performing against a goal.
# | Feature Engineering     | KPI                             |
# | ----------------------- | ------------------------------- |
# | Used for ML models      | Used for monitoring & decisions |
# | Input to model          | Output for humans               |
# | Row-level or aggregated | Usually aggregated              |
# | Predictive              | Descriptive                     |


# KPIs (for business):
  # Monthly revenue
  # Avg order value
  # Active users

# Features (for ML churn model):
  # Avg spend last 30 days
  # Number of transactions
  # Days since last purchase

# KPIs describe how the business is doing; features help the model learn patterns.

## **ADVANCED DATA CLEANING**

- Data cleaning ensures consistency, correctness, and numeric compatibility before feature engineering and modeling.

In [33]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "id": [1, 2, 2, 3],
    "name": [" Alice ", "BOB", "bob", None],
    "salary": [50000, np.nan, 60000, 5000000],
    "age": ["25", "30", None, "40"],
    "date": ["2024-01-01", "2024/01/02", None, "2024-01-04"]
})
df

   id     name     salary   age        date
0   1   Alice     50000.0    25  2024-01-01
1   2      BOB        NaN    30  2024/01/02
2   2      bob    60000.0  None        None
3   3     None  5000000.0    40  2024-01-04

In [34]:
# 1. Detect missing values:
df.isnull()
# Use this to locate missing data.

      id   name  salary    age   date
0  False  False   False  False  False
1  False  False    True  False  False
2  False  False   False   True   True
3  False   True   False  False  False

In [35]:
df.isnull().sum()
# Counts missing values per column.

id        0
name      1
salary    1
age       1
date      1
dtype: int64

In [36]:
df

   id     name     salary   age        date
0   1   Alice     50000.0    25  2024-01-01
1   2      BOB        NaN    30  2024/01/02
2   2      bob    60000.0  None        None
3   3     None  5000000.0    40  2024-01-04

In [37]:
# 2. Advanced fillna()
df.ffill() # Forward fill (ffill) (old version : df.fillna(method="ffill"))
# Fills missing value using previous rows value.

   id     name     salary age        date
0   1   Alice     50000.0  25  2024-01-01
1   2      BOB    50000.0  30  2024/01/02
2   2      bob    60000.0  30  2024/01/02
3   3      bob  5000000.0  40  2024-01-04

In [38]:
df.bfill() # Backward fill (bfill) (old version : df.fillna(method="bfill"))
# Fills missing value using next rows value.

   id     name     salary age        date
0   1   Alice     50000.0  25  2024-01-01
1   2      BOB    60000.0  30  2024/01/02
2   2      bob    60000.0  40  2024-01-04
3   3     None  5000000.0  40  2024-01-04

In [39]:
df["salary"].bfill() # column specific

0      50000.0
1      60000.0
2      60000.0
3    5000000.0
Name: salary, dtype: float64

In [40]:
df["salary"].fillna(df["salary"].mean())
# df.fillna(df.mean()) works only for numeric columns.

0    5.000000e+04
1    1.703333e+06
2    6.000000e+04
3    5.000000e+06
Name: salary, dtype: float64

In [41]:
# 3. Remove Duplicates
df.duplicated()
# Returns True for duplicated rows.

0    False
1    False
2    False
3    False
dtype: bool

In [42]:
df

   id     name     salary   age        date
0   1   Alice     50000.0    25  2024-01-01
1   2      BOB        NaN    30  2024/01/02
2   2      bob    60000.0  None        None
3   3     None  5000000.0    40  2024-01-04

In [43]:
df.drop_duplicates()
# Remove full duplicates

   id     name     salary   age        date
0   1   Alice     50000.0    25  2024-01-01
1   2      BOB        NaN    30  2024/01/02
2   2      bob    60000.0  None        None
3   3     None  5000000.0    40  2024-01-04

In [44]:
df.drop_duplicates(subset=["id"])
# Remove duplicates based on specific columns
# Keeps first occurrence by default

   id     name     salary age        date
0   1   Alice     50000.0  25  2024-01-01
1   2      BOB        NaN  30  2024/01/02
3   3     None  5000000.0  40  2024-01-04

In [45]:
df.drop_duplicates(subset=["id"], keep="last")

   id     name     salary   age        date
0   1   Alice     50000.0    25  2024-01-01
2   2      bob    60000.0  None        None
3   3     None  5000000.0    40  2024-01-04

In [46]:
# 4. Fix Data Types
df["age"] = df["age"].astype(float)
# Convert column type
# This will FAIL if there are non-numeric strings.
df

   id     name     salary   age        date
0   1   Alice     50000.0  25.0  2024-01-01
1   2      BOB        NaN  30.0  2024/01/02
2   2      bob    60000.0   NaN        None
3   3     None  5000000.0  40.0  2024-01-04

In [47]:
df["age"] = pd.to_numeric(df["age"], errors="coerce")
# safer way to covert column type
df

   id     name     salary   age        date
0   1   Alice     50000.0  25.0  2024-01-01
1   2      BOB        NaN  30.0  2024/01/02
2   2      bob    60000.0   NaN        None
3   3     None  5000000.0  40.0  2024-01-04

In [48]:
df["date"] = pd.to_datetime(df["date"], errors="coerce")
# Convert date column
# If 'raise', then invalid parsing will raise an exception.
# If 'coerce', then invalid parsing will be set as NaT.
# If 'ignore', then invalid parsing will return the input.
df

   id     name     salary   age       date
0   1   Alice     50000.0  25.0 2024-01-01
1   2      BOB        NaN  30.0        NaT
2   2      bob    60000.0   NaN        NaT
3   3     None  5000000.0  40.0 2024-01-04

In [49]:
# 5. String Cleaning
df["name"] = df["name"].str.lower()
# Lowercase
df

   id     name     salary   age       date
0   1   alice     50000.0  25.0 2024-01-01
1   2      bob        NaN  30.0        NaT
2   2      bob    60000.0   NaN        NaT
3   3     None  5000000.0  40.0 2024-01-04

In [50]:
df["name"] = df["name"].str.strip()
# Remove leading/trailing spaces
df

   id   name     salary   age       date
0   1  alice    50000.0  25.0 2024-01-01
1   2    bob        NaN  30.0        NaT
2   2    bob    60000.0   NaN        NaT
3   3   None  5000000.0  40.0 2024-01-04

In [51]:
df["name"] = df["name"].str.replace(" ", "", regex=False)
# Remove spaces inside strings
df

   id   name     salary   age       date
0   1  alice    50000.0  25.0 2024-01-01
1   2    bob        NaN  30.0        NaT
2   2    bob    60000.0   NaN        NaT
3   3   None  5000000.0  40.0 2024-01-04

In [53]:
# 6. Handling Outliers

df = df[df["salary"] < 1_000_000]
# Simple threshold filtering : Removes unrealistic values.
df

   id   name   salary   age       date
0   1  alice  50000.0  25.0 2024-01-01
2   2    bob  60000.0   NaN        NaT

In [55]:
df = (
    df
    .drop_duplicates()
    .assign(
        name=lambda x: x["name"].str.lower().str.strip(),
        age=lambda x: pd.to_numeric(x["age"], errors="coerce"),
        date=lambda x: pd.to_datetime(x["date"], errors="coerce")
    )
)

df["salary"] = df["salary"].fillna(df["salary"].median())
df

   id   name   salary   age       date
0   1  alice  50000.0  25.0 2024-01-01
2   2    bob  60000.0   NaN        NaT

## **COLUMN ENGINEERING**
- Column engineering (feature preparation) is creating new columns from existing data to help ML models or analysis.

In [56]:
df

   id   name   salary   age       date
0   1  alice  50000.0  25.0 2024-01-01
2   2    bob  60000.0   NaN        NaT

In [59]:
# 1. Scaling / Normalization
df['new_col'] = df['salary'] / 100000
df

   id   name   salary   age       date  new_col  is_high_salary
0   1  alice  50000.0  25.0 2024-01-01      0.5            True
2   2    bob  60000.0   NaN        NaT      0.6            True

In [60]:
# 2. Creating Boolean Feature
df['is_high_salary'] = df['salary'] > 7000
df

   id   name   salary   age       date  new_col  is_high_salary
0   1  alice  50000.0  25.0 2024-01-01      0.5            True
2   2    bob  60000.0   NaN        NaT      0.6            True

In [62]:
# Converts numeric thresholds into categorical signals

# Useful for:
  # ML models that handle categorical data well
  # Feature engineering for insights/KPIs
  # Can also convert to 0/1 for ML:
  # df['is_high_salary'] = (df['salary'] > 70000).astype(int)

# Column engineering = creating new columns/features
# Scaling (salary / 100000)  makes numbers easier for models
# Boolean/Flag (salary > 70000)  highlights important thresholds
# Used for ML models, feature engineering, and KPIs

In [64]:
# Key Idea in Feature Engineering
# | Technique                | Example                                                   |
# | ------------------------ | --------------------------------------------------------- |
# | Transformation / Scaling | salary / 100000                                           |
# | Boolean feature / Flag   | is_high_salary = salary > 70000                           |
# | Aggregation              | avg_salary_per_dept = df.groupby("dept")["salary"].mean() |
# | Interaction              | new_col = salary * years_experience                       |

# These features make models smarter and can capture patterns that raw data cannot.

## **Advanced Sorting**
- Advanced sorting and indexing organizes data for analysis

In [65]:
import pandas as pd

df = pd.DataFrame({
    "name": ["A", "B", "C", "D", "E", "F"],
    "department": ["IT", "IT", "HR", "HR", "Sales", "Sales"],
    "city": ["NY", "LA", "NY", "LA", "NY", "LA"],
    "team": ["A", "A", "B", "B", "C", "C"],
    "salary": [60000, 55000, 50000, 52000, 70000, 72000],
    "age": [25, 28, 35, 32, 40, 38]
})

In [66]:
df.sort_values(by=['department', 'salary'])
df
# Multi-level sorting is very common in reports, KPIs, and time-series preparation.

  name department city team  salary  age
0    A         IT   NY    A   60000   25
1    B         IT   LA    A   55000   28
2    C         HR   NY    B   50000   35
3    D         HR   LA    B   52000   32
4    E      Sales   NY    C   70000   40
5    F      Sales   LA    C   72000   38

In [67]:
# 2. Resetting Index
df.reset_index(drop=True)
# Resets the index to 0, 1, 2
# drop=True  removes old index completely

  name department city team  salary  age
0    A         IT   NY    A   60000   25
1    B         IT   LA    A   55000   28
2    C         HR   NY    B   50000   35
3    D         HR   LA    B   52000   32
4    E      Sales   NY    C   70000   40
5    F      Sales   LA    C   72000   38

In [68]:
# 3. Setting Index
df.set_index('name')

     department city team  salary  age
name
A            IT   NY    A   60000   25
B            IT   LA    A   55000   28
C            HR   NY    B   50000   35
D            HR   LA    B   52000   32
E         Sales   NY    C   70000   40
F         Sales   LA    C   72000   38

## **FINAL DATA VALIDATION**
- final validation confirms shapes, types, and statistics are correct before modeling

In [69]:
df.shape
# Quick check for missing rows or columns

(6, 6)

In [70]:
df.info() # Check for missing values or wrong data types before ML.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        6 non-null      object
 1   department  6 non-null      object
 2   city        6 non-null      object
 3   team        6 non-null      object
 4   salary      6 non-null      int64
 5   age         6 non-null      int64
dtypes: int64(2), object(4)
memory usage: 420.0+ bytes

In [71]:
df.describe() # Helps spot outliers or weird data quickly.

             salary        age
count      6.000000   6.000000
mean   59833.333333  33.000000
std     9304.120951   5.796551
min    50000.000000  25.000000
25%    52750.000000  29.000000
50%    57500.000000  33.500000
75%    67500.000000  37.250000
max    72000.000000  40.000000

In [72]:
# Sorting & indexing  makes data organized and fast to access
# Reset index  avoids misalignment after filtering/sorting
# Set index  required for merge/join operations
# Final validation  ensures ML model or analysis uses clean, correct data
# Think of this as the last quality check before feeding data into ML or reports.